main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: blanchedalmond;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	height: 45vw;
	width: 100vw;
}

h1 {
	padding-top: 2.5vw;
	background-color: cornflowerblue;
	display: flex;
	justify-content: space-around;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bolder ;
	font-size: 5vw;
	height: 7vw;
}

#img-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: midnightblue;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	width: 100vw;
	margin: 1vw;
	padding-top: 5vw;
}

img {
	height: 450px;
	width: 450px;
	padding: 1vw;
	margin: 1vw;
	border-style: solid;
	border-width: 4px;
}

#show-results-btn {
	display: flex;
	justify-content: center;
	flex-direction: row;
	border-style: solid;
	border-color: black;
	background-color: midnightblue;
	color: blanchedalmond;
	border-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5vw;
	margin-left: 30vw;
	padding: .5vw;
	height: 2.5vw;
	width: 9vw;
}


#results-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-color: black;
	margin: 1vw;
}

footer {
	border-color: black;
	border-width: 2px;
	border-style: solid;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 1vw;
	height: 2vw;
	padding-top: 1vw;
}

figure {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2vw;
	padding-right: 2vw;
}

canvas {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 1200px;
	margin-top: 2vw;

	padding-right: 2vw;
}